@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.light {
  @apply bg-gray-100 text-gray-900;
}
